*.py[co]
__pycache__
*-checkpoint.ipynb
*.vscode
*.log
*.db
config.yaml
OpenConfig.yaml
gotify_push.py
cos_config.yaml
pics/
*.txt
*.json
*.csv
*.jsonl
*.jsonl.gz
*.jsonl.tar.gz
*.jsonl.tar.gz.part
test.*
*.ipynb